<h1>災害資訊網</h1>

<h4><%= link_to "About", about_disasters_path%></h4>
<%= link_to"依名稱排序", disasters_path( :order => "title")%>
<%= link_to"依預設排序", disasters_path%>
<%= link_to"依留言數排序", disasters_path( :order => "messages_count")%>
<table class="table table-striped">
<% @disasters.each do |disaster|%>
	<tr>
		<td>
			<h4>創建者：<%= disaster.user.try(:short_name)%></h4>
		</td>
		<td>
			<%= disaster.title%>
			<br>
			<%= link_to"災害內容", disaster_path(disaster), :class => "btn btn-primary"%>
			<%= link_to"編輯災情內容", edit_disaster_path(disaster),:class => "btn btn-primary"%>
			<%= link_to"刪除", disaster_path(disaster), :method=>:delete,:class => "btn btn-danger"%>
			<%= disaster.created_at%>
			<td>
				<% disaster.groups.each do |group|%>
	            <%= group.name%>
				<h5>留言數:<%= disaster.messages.count%></h5>
	            <%end%>
			</td>
		</td>
	</tr>
<%end%>
</table>
<%= paginate @disasters %>
<br>

<%= link_to "新增災害", new_disaster_path,:class => "btn btn-primary"%>